
@charset "UTF-8";
/* CSS Document */

	
/* OVERVIEW CHOICES FOR HELP SECTION  */ 

#overviewContentHelp {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	margin:15px 0 15px 0;
	padding:10px 0px 25px 0px;
	}
	
#overviewHeaderHelp {
	font-size:1.6em;
	font-weight:bold;
	letter-spacing:3px;
	font-variant:small-caps; 
	margin: 10px 0 0 30px;
	padding:0px;
}

.helpHeader {
	font-size:1.3em;
	margin:0px;
	padding:5px 0 0px 20px;
	font-style:italic;
}

.helpSection {
	background-image:url(../../images/GradientHomeBox.png);
	background-position:bottom;
	border-top: 1px solid #666666;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #666666;
	margin: 15px 80px;
	padding:5px;
	}
	
.helpSection li {
	list-style-type:none;
	font-size:1.0em;
	width:90%;
	margin-left:0;
	}
	
.helpSection li a:link, .helpSection li a:visited {
	display:block;
	text-decoration:none;
	padding:3px 6px;
	color:blue;
	font-weight:bold;
	border:1px solid transparent;
	}
	
.helpSection li a:hover {
	background-color:#FFFF00; 
	border:1px solid #999;
	}
	
.helpSection p {
	margin: 15px 0 15px 45px; 
	font-weight:bold;
	color:#333;
	}