/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-wise .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    /*-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;*/
}
.theme-wise .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-wise .nivoSlider a {
	border:0;
	display:block;
}

.theme-wise .nivo-controlNav {
	position:absolute;
	right: 6px;
	top: -34px;
}
.theme-wise .nivo-controlNav a {
	display:block;
	width:24px;
	height:24px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-wise .nivo-controlNav a.active {
	background-position:0 -25px;
}

.theme-wise .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-wise a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-wise a.nivo-prevNav {
	left:15px;
}

.theme-wise .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-wise .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-wise .nivo-caption a:hover {
    color:#fff;
}