<jnlp
    spec="$jnlpspec"
    codebase="http://${client.serverName}:8080/${client.contextPath}/webstart/scymapper"
    href="$outputFile">
  <information>
    <title>SCY-Planner</title>
    <vendor>SCY</vendor>
    <homepage href="http://www.scy-net.org"/>
#if($offlineAllowed)
    <offline-allowed/>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion"/>
    <extension name="JavaFX Runtime" href="http://dl.javafx.com/1.1/javafx-rt.jnlp"/>
    <property name="jnlp.packEnabled" value="true"/>
    <property name="jnlp.versionEnabled" value="true"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>

